<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
        <meta charset="utf-8" />
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1>Simple Page</h1>
            <p>Resize this responsive page to see the effect!</p>
        </div>
        @RenderBody()
        <script type="text/javascript" src="~/Scripts/jquery-3.0.0.slim.min.js"></script>
        <script type="text/javascript" src="~/Scripts/popper.min.js"></script>
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    </body>
</html>
